<nav class="navbar">
  <span class="navbar-brand"><a href="/">Ecommerce Backend II</a></span>
  <div class="navbar-links">

    {{#if user}}
      <span class="navbar-welcome">Bienvenido
        {{user.first_name}}
        {{user.last_name}}</span>
    {{/if}}

    <a href="/login">Login</a>
    <a href="/register">Registro</a>
    {{#if user}}
      <a href="/">Productos</a>
      {{#if (eq user.role "admin")}}
        <a href="/admin/panel">Panel Admin</a>
      {{/if}}
      <a href="/current">Perfil</a>
      <a href="/cart">Carrito</a>
      <a href="/tickets">Mis tickets</a>
      <a href="/logout">Cerrar sesión</a>
    {{/if}}
  </div>
</nav>